{% extends 'base.html' %} <!-- чтобы вставлять блоки кода в файл base.html-->
{% load string_filters %} <!-- загружаем файл с фильтром в шаблон-->

{% block body %} <!-- наследование, вставляем весь код в блоке в файл base.html-->
    {{ user_info|lower }} <!-- выводится vova, |lower - фильтр который выводит слово в нижнем регистре-->
    {{ user_info|camel_string }} <!-- выводится vOvA, |camel_string - фильтр который делает каждую вторую букву заглавной, находится в templatetags/string_filters.py-->
    {{ u.a }}, {{ u.b }}
    {{ u.name }}
    {{ u.age }}

    <ul>
        {% for i in cats %} <!-- перебирает список cats-->
            {% if i == 1 %} <!-- если в писке есть цифра 1-->
                <li style="color:red">{{ i }}</li> <!-- то делаем ее красной-->
            {% else %} <!-- иначе-->
                <li>{{ i }}</li> <!-- черный(как обычно)-->
            {% endif %} <!-- закрываем if-->
        {% endfor %} <!-- закрываем for-->
    </ul>

    <ul>
        {% for i in cats %} <!-- перебирает список cats-->
            <li style="color:{% cycle 'red' 'blue' %}">{{ i }}</li> <!-- по очереди делает цифры красными и синими (красный синий красный синий...)-->
        {% endfor %} <!-- закрываем for-->
    </ul>
    {% include 'card.html' with text=message %} <!-- композиция, вставляет в это место код из файла card.html-->
{% endblock %}
