<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>

    <h3>Добавить книгу</h3>

    {% for book in books %}
        <p>
        <div>{{ book.name }} - {{ book.year }}</div> <!-- вывести существующие книги -->
        <div>Авторы: {% for author in book.authors.all %}
            {{ author.name }} {% endfor %} </div> <!-- вывести автора(ов) этих книг -->
        </p>
    {% endfor %}

    <form action="{% url 'books-list' %}" method="POST"> <!-- добавить форму -->
        {% csrf_token %} <!-- обязательный токен -->
        {{ form.as_p }} <!-- as_p - каждая форма на разных строках -->
        <button type="submit">Добавить</button> <!-- добавить в форме кнопку -->
    </form>
</body>
</html>